@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  font-family:'DM Serif Display',-apple-system, BlinkMacSystemFont;
  color: black;
  font-size: 25px;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  display: grid;
  justify-content: center;
  align-items: center;
}
a{
text-decoration: none
}
.navbar{
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 600px;
  padding: 20px;
}
